#banner {
  width:  100%;
}

p {
       text-align: center;
}
h1 {
  text-align: center;
}
#missão {
  font-size: 20px;
}
 em strong {
  color: red;
 } 

.principal {
  background-color: #CCCCCC;
  padding: 30px;
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px;
}


h2{
  text-align: center ;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item {
  font-style: italic;
}

.imagem-beneficios {
  width: 50%;
}

